html {
    height: 100%;
}
body {
    height: 100%;
    margin: 0;
    padding: 0;
    text-align: left;
}
h1, h2, h3, h4, h5, h6, p, blockquote, form, fieldset {
    margin: 0;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
input, select, label {
    vertical-align: middle;
}
img {
    border: medium none;
}
a {
    text-decoration: none;
}
p {
    padding: 0 0 9px;
}
.topFace h2 {
    margin: 0;
    padding: 0 0 0 0px;
    line-height: 64px;
    font-size: 64px;
    font-family: "微软雅黑";
    color: rgba(255, 255, 255, .8);
    text-align: center;
    text-transform: uppercase;
    text-shadow: 0 0 20px gold;
}

.seventeen h2{
    margin: 0;
    padding: 0 0 20 0px;
    line-height: 70px;
    font-size: 28px;
    font-family: "微软雅黑";
    color: rgba(3, 3, 3, .8);
    text-align: center;
    text-shadow: rgba(0, 0, 0, 0.298039) -5px 5px 5px;
}

h3 {
    line-height: 32px;
}
h4, h5, h6 {
    line-height: 18px;
}
h1 {
    font-size: 24px;
}
h2 {
    font-size: 20px;
}
h3 {
    font-size: 16px;
}
h4 {
    font-size: 14px;
}
h5, h6 {
    font-size: 12px;
}
ul, ol {
    margin: 0 0 18px;
    padding: 0;
}
ul li, ol li {
    margin-left: 25px;
}
ul ul, ul ol, ol ol, ol ul {
    margin-bottom: 0;
}
ul.nostyle {
    list-style: none outside none;
}
ul.nostyle li {
    margin-left: 0;
}
ul.inline-style {
    list-style: none outside none;
    margin-bottom: 0;
}
ul.inline-style li {
    display: inline;
    float: left;
    margin-left: 0;
}
dl {
    margin-bottom: 18px;
}
dt {
    font-weight: bold;
}
dd {
    margin: 0 0 0 9px;
    padding: 0;
}
article, aside, dialog, figure, footer, header, hgroup, nav, section {
    display: block;
}
.clearfix:before, .clearfix:after {
    content: "";
    display: table;
}
.clearfix:after {
    clear: both;
    overflow: hidden;
}
.clearfix {
}

/*layout*/
.page {
    height: auto !important;
    min-height: 100%;
    min-width: 1000px;
    width: 100%;
}
#header, #container, #footer {
    clear: both;
    margin: 0 auto;
    text-align: left;
    width: 1632px;
    float: left;
}
#container {
    padding: 0px 0;
    width: 1632px;
    float: left;
}
#main, #aside_right, #aside_left {
    float: left;
}
.inner {
    margin: 0px;
}
#main {
    width: 100%;
}

.two-asides #aside_left, .two-asides #aside_right {
    width: 300px;
    height: 768px;
}
.two-asides #main {
    width: 1032px;
    height: 768px;
}

/*style*/
#header {
    background-color: #EDEDED;
}
#header_wrap {
    background-color: #EDEDED;
}
#footer {
    background-color: #E1DACF;
}
#footer_wrap {
    background-color: #E1DACF;
}
#container {
    background-color: #CCCCCC;
    background-image:url(abstract-in-white-cubes-402972.jpg);
    background-size:cover;
}
#main {
    background-color: rgba(138, 43, 226, 0.6);
}
#aside_left {
    background-color: rgba(227, 23, 13, 0.8);
}
#aside_right {
    background-color: rgba(25, 25, 112, 0.8);
}

#iconStyle {
  width: 50px;
  height: 50px;
  background-color: rgba(138, 43, 226, 0.9);
}

.titleLi {
  width: 100%;
  height: 100px;
  background-color: rgba(180, 0, 0, .9);
  float: left;
  padding: 6px;
  font-size: 64px;
  font-family: "微软雅黑";
  color: rgb(241, 224, 198);
  text-align: center;
}

.titleLiB {
  width: 100%;
  height: 100px;
  background-color: rgba(31, 97, 171, .9);
  float: left;
  padding: 6px;
  font-size: 64px;
  font-family: "微软雅黑";
  color: rgb(241, 224, 198);
  text-align: center;
}

.titleLiL {
  width: 100%;
  height: 96px;
  background-color: rgba(144, 128, 167, .4);
  float: left;
  padding: 6px;
  font-size: 48px;
  font-family: "微软雅黑";
  color: rgb(241, 224, 198);
  text-align: center;
}

.titleLiS {
  width: 100%;
  height: 96px;
  background-color: rgba(0, 128, 167, .4);
  float: left;
  padding: 6px;
  font-size: 48px;
  font-family: "微软雅黑";
  color: rgb(241, 224, 198);
  text-align: center;
}
.leftLi {
  width: 50%;
  height: 70px;
  background-color: rgba(0, 0, 0, .9);
  float: left;
  padding: 16px;
  font-size: 24px;
  font-family: "微软雅黑";
  color: rgb(241, 224, 198);
  text-align: center;

}

.rightLi {
  width: 50%;
  height: 70px;
  background-color: rgba(241, 224, 198, .9);
  float: right;
  padding: 10px;
  font-size: 32px;
  font-family: "微软雅黑";
  color: rgb(0, 0, 0);
  text-align: center;
}

.leftLi1 {
  width: 50%;
  height: 70px;
  background-color: rgba(241, 224, 198, .9);
  float: left;
  padding: 16px;
  font-size: 24px;
  font-family: "微软雅黑";
  color: rgb(0, 0, 0);
  text-align: center;

}

.rightLi1 {
  width: 50%;
  height: 70px;
  background-color: rgba(0, 0, 0, .9);
  float: right;
  padding: 10px;
  font-size: 32px;
  font-family: "微软雅黑";
  color: rgb(241, 224, 198);
  text-align: center;
}
.leftLi2 {
  width: 50%;
  height: 70px;
  background-color: rgba(0, 0, 0, .9);
  float: left;
  padding: 16px;
  font-size: 24px;
  font-family: "微软雅黑";
  color: rgb(241, 224, 198);
  text-align: center;

}

.rightLi2 {
  width: 50%;
  height: 70px;
  background-color: rgba(241, 224, 198, .9);
  float: right;
  padding: 10px;
  font-size: 32px;
  font-family: "微软雅黑";
  color: rgb(0, 0, 0);
  text-align: center;
}

.footright {
  width: 50%;
  float: right;
  font-size: 32px;
  font-family: "微软雅黑";
  color: rgb(0, 0, 0);
  text-align: right;
}

.footleft {
  width: 50%;
  float: left;
  font-size: 32px;
  font-family: "微软雅黑";
  color: rgb(0, 0, 0);
  text-align: left;
}
