html {
    height: 100%;
}
body {
    height: 100%;
    margin: 0;
    padding: 0;
}
h1, h2, h3, h4, h5, h6, p, blockquote, form, fieldset {
    margin: 0;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
input, select, label {
    vertical-align: middle;
}
img {
    border: medium none;
}
a {
    text-decoration: none;
}
p {
    padding: 0 0 9px;
}
.topFace h2 {
    margin: 0;
    padding: 0 0 0 0px;
    line-height: 64px;
    font-size: 64px;
    font-family: "微软雅黑";
    color: rgba(255, 255, 255, .8);
    text-align: center;
    text-transform: uppercase;
    text-shadow: 0 0 20px gold;
}

.seventeen h2{
    margin: 0;
    padding: 0 0 20 0px;
    line-height: 70px;
    font-size: 28px;
    font-family: "微软雅黑";
    color: rgba(3, 3, 3, .8);
    text-align: center;
    text-shadow: rgba(0, 0, 0, 0.298039) -5px 5px 5px;
}

article, aside, dialog, figure, footer, header, hgroup, nav, section {
    display: block;
}
.clearfix:before, .clearfix:after {
    content: "";
    display: table;
}
.clearfix:after {
    clear: both;
    overflow: hidden;
}
.clearfix {
}

/*layout*/
.page {
    height: auto !important;
    min-height: 100%;
    width: 100%;
}
#header, #container, #footer {
    clear: both;
    margin: 0 auto;
    text-align: left;
    float: left;
}
#container {
    padding: 0px;
    width: 1632px;
    float: left;
}
#containerV {
    padding: 0px;
    width: 1024px;
    float: left;
    background-image: url(abstract-in-white-cubes-402972.jpg);
    background-size: cover;
}

#mainV {
    background-color: rgba(138, 43, 226, 0.6);
}

#main, #aside_right, #aside_left {
    float: left;
}
.inner {
    margin: 0px;
}
#main {
    width: 100%;
}

.two-asides #aside_left, .two-asides #aside_right {
    width: 300px;
    height: 768px;
}
 #aside_leftV, #aside_rightV {
    width: 512px;
    height: 768px;
}
 #aside_leftV {
   background-color: rgba(227, 23, 13, 0.8);
   position: absolute;
   top: 0px;
   left:0px;
  }
 #aside_rightV {
   background-color: rgba(25, 25, 112, 0.8);
   position: absolute;
   top: 0px;
   left: 512px;
 }
#vcrCt {
  float: right;
  position: absolute;
  bottom: 0px;
  text-align: center;
 }
.two-asides #main {
    width: 1032px;
    height: 768px;
}
.two-asides #mainV {
    width: 1032px;
    height: 768px;
}

/*style*/
#container {
    background-image:url(abstract-in-white-cubes-402972.jpg);
    background-size:cover;
}
#main {
    background-color: rgba(138, 43, 226, 0.6);
}
#aside_left {
    background-color: rgba(227, 23, 13, 0.8);
}
#aside_right {
    background-color: rgba(25, 25, 112, 0.8);
}

#iconStyle {
  width: 50px;
  height: 50px;
  background-color: rgba(138, 43, 226, 0.9);
}

.titleLi {
  width: 100%;
  height: 100px;
  background-color: rgba(180, 0, 0, .9);
  float: left;
  padding: 6px;
  font-size: 64px;
  font-family: "微软雅黑";
  color: rgb(241, 224, 198);
  text-align: center;
}

.titleA {
  width: 100%;
  height: 100px;
  border-bottom:thick dotted #000;
  background-color: rgba(138, 43, 226, 0.95);
  float: left;
  padding: 6px;
  font-size: 64px;
  color: rgba(255, 255, 255, .8);
  text-align: center;
  text-transform: uppercase;
  text-shadow: 5px 5px 20px gold;
}
.quA{
  width: 100%;
  background-color: rgba(31, 97, 171, .9);
  float: left;
  padding: 5px 50px 5px 50px;
  font-size: 64px;
  font-family: "微软雅黑";
  color: rgb(241, 224, 198);
  text-align: left;
}
.opL{
  border:2px solid black;
  width: 50%;
  background-color: rgba(180, 0, 0, .9);
  float: left;
  padding: 5px 20px 5px 60px;
  font-size: 56px;
  font-family: "微软雅黑";
  color: rgb(0, 0, 0);
  text-align: left;
}
.opLG{
  border:2px solid black;
  width: 50%;
  background-color: rgba(0, 180, 0, .9);
  float: left;
  padding: 5px 20px 5px 60px;
  font-size: 56px;
  font-family: "微软雅黑";
  color: rgb(0, 0, 0);
  text-align: left;
}

.opR{
  border:2px solid black;
  width: 50%;
  background-color: rgba(180, 0, 0, .9);
  float: right;
  padding: 5px 60px 5px 20px;
  font-size: 56px;
  font-family: "微软雅黑";
  color: rgb(0, 0, 0);
  text-align: left;
}

.opRG{
  border:2px solid black;
  width: 50%;
  background-color: rgba(0, 180, 0, .9);
  float: right;
  padding: 5px 60px 5px 20px;
  font-size: 56px;
  font-family: "微软雅黑";
  color: rgb(0, 0, 0);
  text-align: left;
}

.titleLiB {
  width: 100%;
  height: 100px;
  background-color: rgba(31, 97, 171, .9);
  float: left;
  padding: 6px;
  font-size: 64px;
  font-family: "微软雅黑";
  color: rgb(241, 224, 198);
  text-align: center;
}

.titleLiL {
  width: 100%;
  height: 96px;
  background-color: rgba(144, 128, 167, .4);
  float: left;
  padding: 6px;
  font-size: 48px;
  font-family: "微软雅黑";
  color: rgb(241, 224, 198);
  text-align: center;
}

.titleLiS {
  width: 100%;
  height: 96px;
  background-color: rgba(0, 128, 167, .4);
  float: left;
  padding: 6px;
  font-size: 48px;
  font-family: "微软雅黑";
  color: rgb(241, 224, 198);
  text-align: center;
}

.qiangdaSide{
  width: 100%;
  height: 100px;
  background-color: rgba(0, 128, 167, .4);
  float: left;
  padding: 6px;
  font-size: 48px;
  font-family: "微软雅黑";
  color: rgb(241, 224, 198);
  text-align: center;
}
.qiangdaSideR{
  width: 100%;
  height: 100px;
  background-color: rgba(255, 0, 0, .9);
  float: left;
  padding: 6px;
  font-size: 48px;
  font-family: "微软雅黑";
  color: rgb(241, 224, 198);
  text-align: center;
}

.leftLi {
  width: 50%;
  height: 70px;
  background-color: rgba(0, 0, 0, .9);
  float: left;
  padding: 16px;
  font-size: 24px;
  font-family: "微软雅黑";
  color: rgb(241, 224, 198);
  text-align: center;

}

.rightLi {
  width: 50%;
  height: 70px;
  background-color: rgba(241, 224, 198, .9);
  float: right;
  padding: 10px;
  font-size: 32px;
  font-family: "微软雅黑";
  color: rgb(0, 0, 0);
  text-align: center;
}

.leftLi1 {
  width: 50%;
  height: 70px;
  background-color: rgba(241, 224, 198, .9);
  float: left;
  padding: 16px;
  font-size: 24px;
  font-family: "微软雅黑";
  color: rgb(0, 0, 0);
  text-align: center;

}

.rightLi1 {
  width: 50%;
  height: 70px;
  background-color: rgba(0, 0, 0, .9);
  float: right;
  padding: 10px;
  font-size: 32px;
  font-family: "微软雅黑";
  color: rgb(241, 224, 198);
  text-align: center;
}
.leftLi2 {
  width: 50%;
  height: 70px;
  background-color: rgba(0, 0, 0, .9);
  float: left;
  padding: 16px;
  font-size: 24px;
  font-family: "微软雅黑";
  color: rgb(241, 224, 198);
  text-align: center;

}

.rightLi2 {
  width: 50%;
  height: 70px;
  background-color: rgba(241, 224, 198, .9);
  float: right;
  padding: 10px;
  font-size: 32px;
  font-family: "微软雅黑";
  color: rgb(0, 0, 0);
  text-align: center;
}
.titleClock {
  width: 100%;
  height: 140px;
  background-color: rgba(241, 224, 198, .9);
  float: right;
  padding: 0px;
  font-size: 100px;
  font-family: "微软雅黑";
  color: rgb(0, 0, 0);
  text-align: center;
}

.titleClockB {
  width: 100%;
  height: 140px;
  background-color: rgba(0, 0, 0, .9);
  float: left;
  padding: 0px;
  font-size: 100px;
  font-family: "微软雅黑";
  color: rgb(241, 224, 198);
  text-align: center;
}
.qiangdaP {
  width: 50%;
  height: 140px;
  background-color: rgba(241, 224, 198, .9);
  float: left;
  padding: 0px;
  font-size: 100px;
  font-family: "微软雅黑";
  color: rgb(0, 0, 0);
  text-align: center;
}
.qiangdaPR {
  width: 50%;
  height: 140px;
  background-color: rgba(241, 224, 198, .9);
  float: right;
  padding: 0px;
  font-size: 100px;
  font-family: "微软雅黑";
  color: rgb(0, 0, 0);
  text-align: center;
}
.qiangdaPL {
  width: 50%;
  height: 140px;
  background-color: rgba(241, 0, 0, .9);
  float: left;
  padding: 0px;
  font-size: 100px;
  font-family: "微软雅黑";
  color: rgb(0, 0, 0);
  text-align: center;
}
.qiangdaPLR {
  width: 50%;
  height: 140px;
  background-color: rgba(241, 0, 0, .9);
  float: right;
  padding: 0px;
  font-size: 100px;
  font-family: "微软雅黑";
  color: rgb(0, 0, 0);
  text-align: center;
}
.footright {
  width: 40%;
  float: right;
  font-size: 32px;
  font-family: "微软雅黑";
  color: rgb(0, 0, 0);
  text-align: right;
}

.footleft {
  width: 40%;
  float: left;
  font-size: 32px;
  font-family: "微软雅黑";
  color: rgb(0, 0, 0);
  text-align: left;
}

.footmid {
  width: 20%;
  float: left;
  font-size: 32px;
  font-family: "微软雅黑";
  color: rgb(0, 0, 0);
  text-align: center;
}
.qustIt {
  background-color: rgba(57, 122, 160, 1);
  position:relative;
  left:0px;
  top: -768px;
  width: 100%;
  height: 30%;
  font-size: 64px;
  font-family: "微软雅黑";
  border: 5px;
  color: #eee;
  text-shadow: 0px 5px 7px #333;
}
