<template name="itemIndex">
  <div class="panel panel-info">
    <div class="panel-heading">
      <h3 class="panel-title">题库查询</h3>
    </div>
    <div class="panel-body">
      <form class="form-horizontal" id="qustIndex">
        <div class="form-group">
           <label for="searchEpisode" class="col-sm-1 control-label text-primary">题型</label>
           <div class="col-sm-2">
             <input class="form-control" type="text"  id="searchEpisode" placeholder="查找题型" valve = "" />   </div>
           <label for="searchKeyStr" class="col-sm-1 control-label text-primary">题号</label>
           <div class="col-sm-2">
             <input class="form-control" type="text" id="searchKeyStr" placeholder="查找题号" valve = "" />
           </div>
        </div>
      </form>
    </div>
  </div>
</template>
