<template name="blueCtrl">
  <p>
    <input id="blue20" class="btn btn-success btn-lg" type="submit" name="blue1" value="蓝+20">
    <input id="blue50" class="btn btn-success btn-lg" type="submit" name="blue1" value="蓝+50">
    <input id="blue100" class="btn btn-success btn-lg" type="submit" name="blue2" value="蓝+100">
    <input id="blue200" class="btn btn-success btn-lg" type="submit" name="blue1" value="蓝+200">
    <input id="blue2d" class="btn btn-success btn-lg" type="submit" name="blue1" value="蓝*2">
    <input id="blue2s" class="btn btn-success btn-lg" type="submit" name="blue2" value="蓝/2">
    <input id="blue0" class="btn btn-success btn-lg" type="submit" name="blue1" value="蓝=0">
  </P>
  <p>
    <input id="zhanB" class="btn btn-danger btn-lg" type="submit" name="red1" value="蓝战况">
    <input id="countdownB" class="btn btn-danger btn-lg" type="submit" name="red1" value="蓝倒计时">
    <input id="qiangdaB" class="btn btn-danger btn-lg" type="submit" name="blue" value="蓝抢答">
    <input id="cubeblue2" class="btn btn-warning btn-lg" type="submit" name="blue2" value="蓝退">
    <input id="cubeblue1" class="btn btn-warning btn-lg" type="submit" name="blue1" value="蓝走">
  </P>
  <p>
    <input id="blueright" class="btn btn-info btn-lg" type="submit" name="blue2" value="蓝对">
    <input id="bluewrong" class="btn btn-info btn-lg" type="submit" name="blue1" value="蓝错">
    <input id="bluea0" class="btn btn-info btn-lg" type="submit" name="blue1" value="蓝对错0">
  </P>
</template>
