<template name="otherCtrl">
  <p>
    <input id="yaojiang" class="btn btn-info btn-lg" type="submit" name="blue" value="摇奖">
    <input id="qiangdaStart" class="btn btn-info btn-lg" type="submit" name="blue" value="抢答开始">
    <input id="qiangdap1" class="btn btn-info btn-lg" type="submit" name="blue" value="抢答1">
    <input id="qiangdap2" class="btn btn-info btn-lg" type="submit" name="blue" value="抢答2">
    <input id="qiangdap3" class="btn btn-info btn-lg" type="submit" name="blue" value="抢答3">
    <input id="qiangdap4" class="btn btn-info btn-lg" type="submit" name="blue" value="抢答4">
  </P>
</template>
