<template name="redCtrl">
  <p>
    <input id="red20" class="btn btn-success btn-lg" type="submit" name="blue2" value="红+20">
    <input id="red50" class="btn btn-success btn-lg" type="submit" name="blue1" value="红+50">
    <input id="red100" class="btn btn-success btn-lg" type="submit" name="red2" value="红+100">
    <input id="red200" class="btn btn-success btn-lg" type="submit" name="red1" value="红+200">
    <input id="red2d" class="btn btn-success btn-lg" type="submit" name="blue1" value="红*2">
    <input id="red2s" class="btn btn-success btn-lg" type="submit" name="red2" value="红/2">
    <input id="red0" class="btn btn-success btn-lg" type="submit" name="red1" value="红=0">
  </p>
  <p>
    <input id="zhanR" class="btn btn-danger btn-lg" type="submit" name="red1" value="红战况">
    <input id="countdownR" class="btn btn-danger btn-lg" type="submit" name="red1" value="红倒计时">
    <input id="qiangdaR" class="btn btn-danger btn-lg" type="submit" name="blue" value="红抢答">
    <input id="cubered2" class="btn btn-warning btn-lg" type="submit" name="red2" value="红退">
    <input id="cubered1" class="btn btn-warning btn-lg" type="submit" name="red1" value="红走">
  </P>
  <p>
    <input id="redright" class="btn btn-info btn-lg" type="submit" name="red2" value="红对">
    <input id="redwrong" class="btn btn-info btn-lg" type="submit" name="red1" value="红错">
    <input id="reda0" class="btn btn-info btn-lg" type="submit" name="red1" value="红对错0">
  </P>
</template>
