<template name="daping">
  <div class="page two-asides">
      <!--container begin-->
      <section id="container" class="clearfix">
          <!--aside_left begin-->
          <section id="aside_left" class="aside">
              <div class="inner">
                  {{> redTeam}}
              </div>
          </section>
          <!--main begin-->
          <section id="main">
              <div class="inner">
                  <article>
                    {{> qipan}}
                  </article>
              </div>
          </section>
          <!--aside_left begin-->
          <section id="aside_right" class="aside">
              <div class="inner">
                <div class="inner">
                  {{> blueTeam}}
                </div>
              </div>
          </section>
      </section>

      <!--footer begin-->
      <footer id="footer">
          <div class="inner">
              <p> </p>
              <h2>操作区</h2>
            <div class="footleft">
           <p><input id="red20" class="btn btn-success btn-lg" type="submit" name="blue2" value="红+20" />
          <input id="red50" class="btn btn-success btn-lg" type="submit" name="blue1" value="红+50" />
          <input id="red100" class="btn btn-success btn-lg" type="submit" name="red2" value="红+100" />
          <input id="red200" class="btn btn-success btn-lg" type="submit" name="red1" value="红+200" />
          <input id="red2d" class="btn btn-success btn-lg" type="submit" name="blue1" value="红*2" />
          <input id="red2s" class="btn btn-success btn-lg" type="submit" name="red2" value="红/2" />
          <input id="red0" class="btn btn-success btn-lg" type="submit" name="red1" value="红=0" /></P>
          <p><input id="cubered2" class="btn btn-warning btn-lg" type="submit" name="red2" value="红退" />
        <input id="cubered1" class="btn btn-warning btn-lg" type="submit" name="red1" value="红走" /></P>
            <p><input id="redright" class="btn btn-info btn-lg" type="submit" name="red2" value="红对" />
          <input id="redwrong" class="btn btn-info btn-lg" type="submit" name="red1" value="红错" />
          <input id="reda0" class="btn btn-info btn-lg" type="submit" name="red1" value="红对错0" /></P>
              </div>
              <div class="footright">
                <p>
                <input id="blue50" class="btn btn-success btn-lg" type="submit" name="blue1" value="蓝+50" />
                <input id="blue100" class="btn btn-success btn-lg" type="submit" name="blue2" value="蓝+100" />
                <input id="blue200" class="btn btn-success btn-lg" type="submit" name="blue1" value="蓝+200" />
                <input id="blue2d" class="btn btn-success btn-lg" type="submit" name="blue1" value="蓝*2" />
                <input id="blue2s" class="btn btn-success btn-lg" type="submit" name="blue2" value="蓝/2" />
                <input id="blue0" class="btn btn-success btn-lg" type="submit" name="blue1" value="蓝=0" />
                </P>
                <p>
                <input id="cubeblue2" class="btn btn-warning btn-lg" type="submit" name="blue2" value="蓝退" />
                <input id="cubeblue1" class="btn btn-warning btn-lg" type="submit" name="blue1" value="蓝走" />
                </P>
                <p>
                <input id="blueright" class="btn btn-info btn-lg" type="submit" name="blue2" value="蓝对" />
                <input id="bluewrong" class="btn btn-info btn-lg" type="submit" name="blue1" value="蓝错" />
                <input id="bluea0" class="btn btn-info btn-lg" type="submit" name="blue1" value="蓝对错0" />
                <input id="yaojiang" class="btn btn-info btn-lg" type="submit" name="blue" value="摇奖" />
                </P>
              </div>
          </div>
      </footer>
  </div>
</template>
