<template name="qipan">
  <div id="experiment">
      <div class="cube" id="1">
          <div class="topFace">
            <div><h2 class="demoL">起点</h2>
            </div>
          </div>
          <div class="leftFace"><div></div>
          </div>
          <div class="rightFace"><div></div>
          </div>
      </div>
      <div class="cube two" id="2">
          <div class="topFace">
            <div><h2 class="demoL">2</h2></div>
          </div>
          <div class="leftFace"><div></div>
          </div>
          <div class="rightFace"><div></div>
          </div>
      </div>
      <div class="cube three"  id="3">
          <div class="topFace">
            <div><h2 class="demoL">3</h2></div>
          </div>
          <div class="leftFace"><div></div>
          </div>
          <div class="rightFace"><div></div>
          </div>
      </div>
      <div class="cube four" id="4">
          <div class="topFace">
            <div><h2>4</h2></div>
          </div>
          <div class="leftFace"><div></div>
          </div>
          <div class="rightFace"><div></div>
          </div>
      </div>
      <div class="cube five" id="5">
          <div class="topFace">
            <div><h2>5</h2></div>
          </div>
          <div class="leftFace"><div></div>
          </div>
          <div class="rightFace"><div></div>
          </div>
      </div>
      <div class="cube six" id="6">
          <div class="topFace">
            <div><h2>6</h2></div>
          </div>
          <div class="leftFace"><div></div>
          </div>
          <div class="rightFace"><div></div>
          </div>
      </div>
      <div class="cube seven" id="7">
          <div class="topFace">
            <div><h2>7</h2></div>
          </div>
          <div class="leftFace"><div></div>
          </div>
          <div class="rightFace"><div></div>
          </div>
      </div>
      <div class="cube eight" id="8">
          <div class="topFace">
            <div><h2>8</h2></div>
          </div>
          <div class="leftFace"><div></div>
          </div>
          <div class="rightFace"><div></div>
          </div>
      </div>
      <div class="cube sixteen" id="16">
          <div class="topFace">
            <div><h2>终点</h2></div>
          </div>
          <div class="leftFace"><div></div>
          </div>
          <div class="rightFace"><div></div>
          </div>
      </div>
      <div class="cube fifteen" id="15">
          <div class="topFace">
            <div><h2>15</h2></div>
          </div>
          <div class="leftFace"><div></div>
          </div>
          <div class="rightFace"><div></div>
          </div>
      </div>
      <div class="cube fourteen" id="14">
          <div class="topFace">
            <div><h2>14</h2></div>
          </div>
          <div class="leftFace"><div></div>
          </div>
          <div class="rightFace"><div></div>
          </div>
      </div>
      <div class="cube thirteen" id="13">
          <div class="topFace">
            <div><h2>13</h2></div>
          </div>
          <div class="leftFace"><div></div>
          </div>
          <div class="rightFace"><div></div>
          </div>
      </div>
      <div class="cube twelve" id="12">
          <div class="topFace">
            <div><h2>12</h2></div>
          </div>
          <div class="leftFace"><div></div>
          </div>
          <div class="rightFace"><div></div>
          </div>
      </div>
      <div class="cube eleven" id="11">
          <div class="topFace">
            <div><h2>11</h2></div>
          </div>
          <div class="leftFace"><div></div>
          </div>
          <div class="rightFace"><div></div>
          </div>
      </div>
      <div class="cube ten"  id="10">
          <div class="topFace">
            <div><h2>10</h2></div>
          </div>
          <div class="leftFace"><div></div>
          </div>
          <div class="rightFace"><div></div>
          </div>
      </div>
      <div class="cube nine" id="9">
          <div class="topFace">
            <div><h2>9</h2></div>
          </div>
          <div class="leftFace"><div></div>
          </div>
          <div class="rightFace"><div></div>
          </div>
      </div>
      <div class="cube seventeen" id="17">
          <div class="topFace">
            <div><h2>奖金</h2></div>
          </div>
          <div class="leftFace"><div></div>
          </div>
          <div class="rightFace"><div></div>
          </div>
      </div>
    </div>
</template>
