<template name="anserQust">
  {{#each itemBank}}
    <div class="masthead">
      <h1>第{{episode}}场第{{order}}题</h1>
    </div>
      <div class="heading" id="every-question">
        <div class="col">
          <p><h1><span class="icon">&#9997;</span><small>{{question}}</small></h1></p>
        </div>
        {{#if inImage}}
          <div class="col">
            <blockquote>
              <p><img src={{imageIn}} width="300" alt="图示" class="img-responsive img-thumbnail center-block"></p>
            </blockquote>
          </div>
        {{/if}}
      </div>
      <form id="reply-qust">
        <ul class="list-group section">
          <li class="list-group-item list-group-item-success">
            <div class="radio">
              <label>
                <input type="radio" name="optionsRadios" id="optionsRadiosA" value="A">
                <div>A:{{optionA}}</div>
              </label>
            </div>
          </li>
          <li class="list-group-item list-group-item-info">
            <div class="radio">
              <label>
                <input type="radio" name="optionsRadios" id="optionsRadiosB" value="B">
                B:{{optionB}}
              </label>
            </div>
          </li>
          <li class="list-group-item list-group-item-warning">
            <div class="radio">
              <label>
                <input type="radio" name="optionsRadios" id="optionsRadiosC" value="C">
                C:{{optionC}}
              </label>
            </div>
          </li>
          <li class="list-group-item list-group-item-danger">
              <div class="radio">
                <label>
                  <input type="radio" name="optionsRadios" id="optionsRadiosD" value="D">
                  D:{{optionD}}
                </label>
              </div>
          </li>
        </ul>
          <div class="panel-body">
            <input class="btn btn-success btn-lg btn-block" type="submit" name="reply_qu" value="提交答案">
          </div>
      </form>
  {{/each}}
</template>
