<template name="anserQust">
{{#each itemBank}}
  <section>
    <h1>士是非飞问题</h1>
    <div class="section">
      <div class="h1">
        <p class="">{{question}}</p>
      </div>
      {{#if inImage}}
      <div class="col">
        <img src={{imageIn}} width="400" alt="图示" class="img-responsive img-thumbnail" />
      </div>
      {{/if}}
    </div>
  </section>
  <form id="reply-qust">
    <ul class="list-group">
      <li class="list-group-item list-group-item-success">
        <div class="radio">
          <label>
            <input type="radio" name="optionsRadios" id="optionsRadiosA" value="A" />
            <div>A:{{optionA}}</div>
          </label>
        </div>
      </li>
      <li class="list-group-item list-group-item-info">
        <div class="radio">
          <label>
            <input type="radio" name="optionsRadios" id="optionsRadiosB" value="B" />
            B:{{optionB}}
          </label>
        </div>
      </li>
      <li class="list-group-item list-group-item-warning">
        <div class="radio">
          <label>
            <input type="radio" name="optionsRadios" id="optionsRadiosC" value="C" />
            C:{{optionC}}
          </label>
        </div>
      </li>
      <li class="list-group-item list-group-item-danger">
          <div class="radio">
            <label>
              <input type="radio" name="optionsRadios" id="optionsRadiosD" value="D" />
              D:{{optionD}}
            </label>
          </div>
      </li>
      <li class="list-group-item">
        <div class="col">
          <p>答案：{{answer}}</p>
        </div>
      </li>
      <li class="section">
        <div class="col">
          <p>解析：{{parse}}</p>
        </div>
      </li>
    </ul>
  </form>
{{/each}}
</template>
