<template name="anserQust1">
  {{#each itemBank}}
    <section class="qustIt animated lightSpeedIn">
      <div class="titleA">《同学会》—这箱有礼</div>
      <div class="quA">{{question}}</div>
      {{#if aY}}
        <div class="opLG animated pulse">A:{{optionA}}</div>
      {{else}}
      <div class="opL">A:{{optionA}}</div>
      {{/if}}
      {{#if bY}}
      <div class="opRG animated pulse">B:{{optionB}}</div>
      {{else}}
      <div class="opR">B:{{optionB}}</div>
      {{/if}}
      {{#if cY}}
      <div class="opLG animated pulse">C:{{optionC}}</div>
      {{else}}
      <div class="opL">C:{{optionC}}</div>
      {{/if}}
      {{#if dY}}
      <div class="opRG animated pulse">D:{{optionD}}</div>
      {{else}}
      <div class="opR">D:{{optionD}}</div>
      {{/if}}
    </section>
  {{/each}}
</template>
