<template name="score22">
  {{> header2}}
  <div class="list-group">
    {{#each glblSet}}
    <div class="list-group-item col-sm-2 playAn">
        <div class="row-picture">
            <img class="img-circle" alt={{playerName}} src={{playImage}} width=100px>
        </div>
        <div class="row-content">
            <p class="list-group-item-heading">{{playerName}}：{{totalScore}}分</p>
            {{#if anRight}}
              <p class="list-group-item-text redLight">{{playerAnser}}正确</p>
            {{else}}
              <p class="list-group-item-text greenLight">{{playerAnser}}错误</p>
            {{/if}}
        </div>
    </div>
  {{/each}}
  </div>
</template>
