<template name="score">
{{> header}}
  <div class="list-group">
    {{#each glblSet}}
    <div class="list-group-item col-sm-2">
        <div class="row-picture">
            <img class="img-circle" alt={{playerName}} src={{playImage}} width=100px>
        </div>
        <div class="row-content">
            <p class="list-group-item-heading">{{playerName}}</p>
            {{#if anLight}}
              <p class="list-group-item-text redLight">交卷</p>
            {{/if}}
            <h3 class="list-group-item-text">{{playerAnser}}</h3>
        </div>
    </div>
  {{/each}}
    <a class="btn btn-info btn-block" href="{{pathFor 'scoreSort'}}">得分一览</a>
  </div>
</template>
